//Colors
$blue-primary: #272d62;
$blue-secondary: #192032;
$red-primary: #e42c32;
$orange-primary: #e3751f;
$purple-primary: #59388e;
$green-primary: #5CBB63;
$gray-light: #737375;
$gray-dark: #535557;
$background-main: #F0F0F6;

