.home-page {
    @include flex();

    // Top
    &__top {
        @include flex($gap: 60px);
        padding: 90px 50px 50px;

        &--title {
            @include title-font($size: 70px, $weight: 500, $color: $blue-secondary);
            text-align: center;
        }

        > p {
           @include body-font($size: 26px, $color: $gray-light); 
           text-align: center;
           max-width: 800px;
        }
    }

    &__download-buttons {
        @include flex($direction: row, $gap: 50px);
    }

    // Meaning 
    &__meaning {
        margin: 300px auto 80px;
        padding: 0 50px;
        max-width: 1540px;
        width: 100%;
        position: relative;

        &--content {
            @include flex($direction: row, $justify: space-between);
            background: linear-gradient(to bottom, $blue-primary, $purple-primary);
            border-radius: 40px;
            padding: 70px 50px 0;
            min-height: 650px;
        }

        &--screen, &--screen-small {
            position: absolute;
            top: -265px;
            left: 50%;
            transform: translateX(-50%);

            img {
                width: 900px;
                height: auto;
                max-width: none;
            }

            &-small {
                display: none;
            }
        }

        h2 {
            @include title-font($size: 40px, $weight: 500, $color: #fff);
            max-width: 400px;
        }

        p {
            @include body-font($size: 24px, $color: #fff); 
            max-width: 400px;
        }
    }

    // Services
    &__services {
        @include flex($gap: 120px);
        max-width: 1540px;
        padding: 50px 50px 80px;
        width: 100%;

        > h2 {
            @include title-font($size: 50px, $weight: 500, $color: $blue-secondary);
            text-align: center;
        }

        span {
            color: $orange-primary;
        }

        &--cards {
            @include grid($columns: repeat(auto-fit, minmax(300px, 1fr)), $gap: 20px);
            width: 100%;
            justify-items: center;
            margin: 0 auto;

            > div:nth-of-type(2) {
                .service-card {
                    height: 100%;
                }
            }
        }
    }

    // Steps
    &__steps {
        position: relative;
        width: 100%;
        min-height: fit-content; 
        height: auto; 

        &--overlay {
            @include flex($justify: start, $gap: 100px);
            padding: 100px 50px;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            min-height: fit-content;
            height: auto; 
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 1;

            h2 {
                @include title-font($size: 50px, $weight: 500, $color: #fff);
                text-align: center;
                text-shadow: 0px 6px 5px rgba(0, 0, 0, 0.5);
                max-width: 850px;
            }
        }

        &--cards {
            @include flex($direction: row, $gap: 15px);
        }

        &--up {
            transform: scaleY(-1);
        }
    }

    // Ally
    &__ally {
        padding: 0 50px;
        max-width: 1540px;
        width: 100%;
        position: relative;
        margin: 100px 0;

        &--content {
            @include flex($direction: row, $gap: 80px);
            background: linear-gradient(to bottom, $orange-primary, $red-primary);
            border-radius: 40px;
            padding: 70px 50px;
        }

        &--video {
            padding: 20px;
            background: linear-gradient(to top, $orange-primary, $red-primary);
            border-radius: 20px;
        }

        &--right {
            @include flex($gap: 30px);

            h2 {
                @include title-font($size: 40px, $weight: 500, $color: #fff);
                width: 100%;
                margin-bottom: 10px;
                text-align: center;
            }

            h3 {
                @include title-font($size: 26px, $weight: 500, $color: $blue-secondary);
                line-height: 32px;
            }

            p {
                @include body-font($size: 16px, $color: $gray-light); 
            }
        }

        &--card {
            @include flex($align: start, $gap: 10px);
            width: 100%;
            max-width: 700px;
            background-color: #fff;
            border-radius: 10px;
            padding: 30px;
        }
    }

    // Acceptance
    &__acceptance {
        @include flex($gap: 80px);
        width: 100%;
        max-width: 1100px;
        padding: 30px 50px 65px;

        h2 {
            @include title-font($size: 50px, $weight: 500, $color: $blue-secondary);
            text-align: center;
             
            span {
                color: $orange-primary;
            }
        }

        &--cards {
            @include flex($direction: row, $justify: space-between);
            width: 100%;
        }
    }

    // Review
    &__review {
        padding: 0 50px;
        max-width: 1540px;
        width: 100%;
        position: relative;
        margin: 65px 0;

        &--content {
            @include flex($direction: row);
            background: linear-gradient(to bottom, $red-primary, $purple-primary);
            border-radius: 40px;
            padding: 70px 50px;
        }

        &--image {
            @include flex();
            flex: 0.8;
        }

        &--right {
            @include flex($align: start, $gap: 40px);
            flex: 1;
        }

        &--text {
            @include flex($align: start, $gap: 20px);
            
            h2 {
                @include title-font($size: 40px, $weight: 500, $color: #fff);
                width: 100%;
                text-align: left;
            }

            p {
                @include body-font($size: 20px, $color: #fff); 
            }
        }
    }

    // Download
    &__download {
        @include flex($align: start, $gap: 30px);
        position: relative;
        padding: 65px 50px;
        margin-right: 150px;
        
        &--top, &--bottom {
            @include flex($align: start, $gap: 40px);
            background-color: #fff;
            width: 100%;
            padding: 60px;
            border-radius: 20px;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2); 
        }
 
        &--top {
            .home-page__download-buttons {
                justify-content: start;
                gap: 30px;

                .download-button {
                    padding: 12px 30px; 
                    min-width: 200px;

                    &__text {
                        p {
                            font-size: 12px;
                            line-height: 18px;
                        }

                        h3 {
                            font-size: 20px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }

        &--text {
            @include flex($align: start, $gap: 30px);
            max-width: 500px;
            margin-right: 200px;

            h3 {
                @include title-font($size: 26px, $weight: 500, $color: $blue-secondary);
                line-height: 32px;
            }

            p {
                @include body-font($size: 16px, $color: $gray-light); 
            }
        }

        &--screen {
            position: absolute;
            right: -150px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    // Faq
    &__faq {
        @include flex($gap: 60px);
        padding: 0 50px;
        max-width: 1200px;
        margin: 65px 0 80px;
        width: 100%;

        h2 {
            @include title-font($size: 50px, $weight: 500, $color: $blue-secondary);
            text-align: center;
             
            span {
                color: $orange-primary;
            }
        }

        &--items {
            width: 100%;
        }
    }
}

// Responsive large
@include responsive(large) {
    .home-page {
        &__meaning {
            h2 {
                max-width: 25vw;
            }

            p {
                max-width: 25vw;
            }
        }

        &__services {
            &--cards {
                grid-template-columns: 1fr 1fr;
                row-gap: 80px;
                max-width: 750px;
            }
        }
    }
}

// Responsive medium
@include responsive(medium) {
    .home-page {
        &__top {
            padding: 50px 40px 50px;
        }

        &__meaning {
            margin: 225px auto 80px;
            padding: 0 40px;

            &--content {
                @include flex($gap: 40px);
                padding: 500px 50px 60px;
                min-height: none;
            }

            &--screen {
                top: -200px;

                img {
                    width: 700px;
                }
            }

            h2, p {
                max-width: none;
            }
        }

        &__services {
            padding: 40px 40px 80px;

            h2 {
                max-width: 800px;
            }
        }

        &__steps {
            &--overlay {
                padding: 100px 40px;
            }

            &--cards {
                @include flex($gap: 80px);
            }

            &--up {
                transform: rotate(90deg);
            }

            &--down {
                transform: rotate(90deg) scaleY(-1);
            }
        }

        &__ally {
            padding: 0 40px;
            margin: 80px 0;
            max-width: 950px;

            &--content {
                @include flex($gap: 50px);
                padding: 70px 40px;
            }

            &--right {
                gap: 35px;

                h2 {
                    margin-bottom: 0;
                    margin-bottom: 10px;
                }
            }
        }

        &__acceptance {
            @include flex($gap: 60px);
            padding: 30px 40px 55px;

            h2 {
                font-size: 40px;
            }

            &--cards {
                @include flex($gap: 60px);
            }
        }

        &__review {
            padding: 0 40px;
            margin: 55px 0;
            gap: 10px;

            &--image {
                img {
                    width: 250px;
                    height: 250px;
                }
            }

            &--text {
                gap: 25px;
            }
        }

        &__download {
            @include flex($gap: 30px);
            padding: 250px 40px 55px;
            margin-top: 55px;
            margin-right: 0;

            &--top {
                padding: 400px 40px 40px;

                .home-page__download-buttons {
                    align-items: start;

                    .download-button {
                        max-width: 250px;
                        width: 100%;
                    }
                }
            }

            &--bottom {
                padding: 40px;
            }

            &--text {
                @include flex($align: start, $gap: 30px);
                
                margin-right: 0;

                h3 {
                    @include title-font($size: 26px, $weight: 500, $color: $blue-secondary);
                    line-height: 32px;
                }

                p {
                    @include body-font($size: 16px, $color: $gray-light); 
                }
            }

            &--screen {
                @include flex();
                top: 0px;
                left: 50%;
                transform: translateX(-50%);

                img {
                    width: 300px;
                    height: auto;
                }
            }
        }

        &__faq {
            gap: 50px;
            padding: 0 40px;
            margin: 55px 0 60px;
        }
    }
}

// Responsive smedium
@include responsive(smedium) {
    .home-page {
        &__top {
            gap: 50px;

            &--title {
               font-size: 50px;
               line-height: 60px;
            }

            > p {
                font-size: 24px;
            }
        }

        &__download-buttons {
            @include flex($gap: 40px);
        }

        &__meaning {
            margin: 150px auto 50px;

            &--content {
                gap: 30px;
                padding: 335px 40px 60px;
            }

            &--screen {
                top: -135px;

                img {
                    width: 475px;
                }
            }

            h2 {
               font-size: 34px;
            }

            p {
                font-size: 22px;
            }
        }

        &__services {
            gap: 80px;

            > h2 {
                font-size: 40px;
                line-height: 50px;
                max-width: 600px;
            }

            &--cards {
                grid-template-columns: 1fr;
                row-gap: 100px;
            }
        }

        &__steps {
            &--overlay {
                gap: 80px; 

                > h2 {
                    font-size: 40px;
                    max-width: 500px;
                }
            }
        }

        &__ally {
            margin: 50px 0;

            &--content {
                gap: 60px;
                padding: 40px;
                border-radius: 30px;
            }

            &--right {
                h2 {
                    font-size: 35px;
                    line-height: 40px;

                }
            }
        }

        &__acceptance {
            padding: 30px 40px 40px;
        }

        &__review {
            margin: 40px 0;

            &--content {
                @include flex($gap: 60px);
                padding: 40px;
                border-radius: 30px;
            }

            &--image {
                img {
                    width: 300px;
                    height: 300px;
                }
            }

            &--text {
                h2 {
                    font-size: 35px;
                    line-height: 45px;
                }

                p {
                    font-size: 18px;
                    line-height: 28px;
                }
            }
        }

        &__download {
            padding: 250px 40px 40px;
            margin-top: 40px;
        }

        &__faq {
            margin: 40px 0 60px;

            h2 {
                font-size: 40px;
                line-height: 50px;
            }
        }
    }
}

// Responsive small
@include responsive(small) {
    .home-page {
        &__top {
            padding: 50px 30px 50px;
            gap: 40px;

            &--title {
               font-size: 30px;
               line-height: 40px;
            }

            > p {
                font-size: 20px;
                line-height: 30px;
                max-width: 400px;
            }
        }

        &__meaning {
            margin: 175px auto 40px;
            padding: 0 30px;

            &--content {
                padding: 265px 20px 40px;
                border-radius: 30px;
                min-height: 450px;
            }

            &--screen {
                display: none;
                
                &-small {
                    display: block;
                    top: -150px;

                    img {
                        width: 325px;
                    }
                }
            }

            h2 {
               font-size: 28px;
               line-height: 38px;
            }

            p {
                font-size: 18px;
            }
        }

        &__services {
            padding: 40px 30px 80px;

            > h2 {
                font-size: 30px;
                line-height: 40px;
            }

            &--cards {
                row-gap: 110px;
            }
        }

        &__steps {
            &--overlay {
                gap: 60px; 
                padding: 80px 30px;

                > h2 {
                    font-size: 30px;
                    line-height: 40px;
                }
            }
        }

        &__ally {
            padding: 0 30px;
            margin: 40px 0;

            &--content {
                gap: 40px;
                padding: 30px 20px;
            }

            &--video {
                padding: 15px;

                iframe {
                    width: 220px;
                    height: 390px;
                }
            }

            &--right {
                gap: 25px;

                h2 {
                    font-size: 30px;
                    line-height: 35px;
                }
            }

            &--card {
                padding: 22px;
                gap: 20px;

                h3 {
                    font-size: 22px;
                    line-height: 28px;
                }
            }
        }

        &__acceptance {
            gap: 40px;
            padding: 30px 30px 35px;

            h2 {
                font-size: 30px;
                line-height: 35px;
            }
        }

        &__review {
            margin: 35px 0;

            &--content {
                gap: 40px;
                padding: 30px;
            }

            &--image {
                img {
                    width: 200px;
                    height: 200px;
                }
            }

            &--text {
                h2 {
                    font-size: 30px;
                    line-height: 40px;
                }
            }
        }

        &__download {
            padding: 150px 30px 35px;
            margin-top: 45px;

            &--top {
                padding: 400px 30px 30px;
                gap: 25px;
            }

            &--bottom {
                padding: 30px;
                gap: 25px;
            }

            &--text {
                gap: 20px;

                h3 {
                    font-size: 24px;
                    line-height: 30px;
                }

                p {
                    font-size: 16px; 
                }
            }

            &--screen {
                top: 0px;

                img {
                    width: 250px;
                    height: auto;
                }
            }
        }

        &__faq {
            gap: 40px;
            padding: 0 30px;
            margin: 30px 0 50px;

            h2 {
                font-size: 30px;
                line-height: 40px;
            }
        }
    }
}