.home-page {
    @include flex();

    // Top
    &__top {
        @include flex($gap: 60px);
        padding: 90px 50px 50px;

        &--title {
            @include title-font($size: 70px, $weight: 500, $color: $blue-secondary);
            text-align: center;
        }

        > p {
           @include body-font($size: 26px, $color: $gray-light); 
           text-align: center;
           max-width: 800px;
        }
    }

    &__download-buttons {
        @include flex($direction: row, $gap: 50px);
    }

    // Meaning 
    &__meaning {
        margin: 300px auto 80px;
        padding: 0 50px;
        max-width: 1540px;
        width: 100%;
        position: relative;

        &--content {
            @include flex($direction: row, $justify: space-between);
            background: linear-gradient(to bottom, $blue-primary, $purple-primary);
            border-radius: 40px;
            padding: 70px 50px 0;
            min-height: 650px;
        }

        &--screen, &--screen-small {
            position: absolute;
            top: -265px;
            left: 50%;
            transform: translateX(-50%);

            img {
                width: 900px;
                height: auto;
                max-width: none;
            }

            &-small {
                display: none;
            }
        }

        h2 {
            @include title-font($size: 40px, $weight: 500, $color: #fff);
            max-width: 400px;
        }

        p {
            @include body-font($size: 24px, $color: #fff); 
            max-width: 400px;
        }
    }

    // Services
    &__services {
        @include flex($gap: 120px);
        max-width: 1540px;
        padding: 50px 50px 80px;
        width: 100%;

        > h2 {
            @include title-font($size: 50px, $weight: 500, $color: $blue-secondary);
            text-align: center;
        }

        span {
            color: $orange-primary;
        }

        &--cards {
            @include grid($columns: repeat(auto-fit, minmax(300px, 1fr)), $gap: 20px);
            width: 100%;
            justify-items: center;
            margin: 0 auto;
        }
    }

    // Steps
    &__steps {
        position: relative;
        width: 100%;
        min-height: fit-content; 
        height: auto; 

        &--overlay {
            @include flex($justify: start, $gap: 100px);
            padding: 100px 50px;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            min-height: fit-content;
            height: auto; 
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 1;

            h2 {
                @include title-font($size: 50px, $weight: 500, $color: #fff);
                text-align: center;
                text-shadow: 0px 6px 5px rgba(0, 0, 0, 0.5);
                max-width: 850px;
            }
        }

        &--cards {
            @include flex($direction: row, $gap: 15px);
        }

        &--up {
            transform: scaleY(-1);
        }
    }

    // Ally
    &__ally {
        padding: 0 50px;
        max-width: 1540px;
        width: 100%;
        position: relative;
        margin: 100px 0;

        &--content {
            @include flex($direction: row, $gap: 80px);
            background: linear-gradient(to bottom, $orange-primary, $red-primary);
            border-radius: 40px;
            padding: 70px 50px;
        }

        &--video {
            padding: 20px;
            background: linear-gradient(to top, $orange-primary, $red-primary);
            border-radius: 20px;
        }

        &--right {
            @include flex($gap: 30px);

            h2 {
                @include title-font($size: 40px, $weight: 500, $color: #fff);
                width: 100%;
                margin-bottom: 10px;
                text-align: center;
            }

            h3 {
                @include title-font($size: 26px, $weight: 500, $color: $blue-secondary);
                line-height: 32px;
            }

            p {
                @include body-font($size: 16px, $color: $gray-light); 
            }
        }

        &--card {
            @include flex($align: start, $gap: 10px);
            width: 100%;
            max-width: 700px;
            background-color: #fff;
            border-radius: 10px;
            padding: 30px;
        }
    }

    // Acceptance
    &__acceptance {
        width: 100%;
        max-width: 900px;
        margin-bottom: 100px;

        &--cards {
            @include flex($direction: row, $justify: space-between);
            
        }
    }
    
}

// Responsive large
@include responsive(large) {
    .home-page {
        &__meaning {
            h2 {
                max-width: 25vw;
            }

            p {
                max-width: 25vw;
            }
        }

        &__services {
            &--cards {
                grid-template-columns: 1fr 1fr;
                row-gap: 80px;
                max-width: 750px;
            }
        }
    }
}

// Responsive medium
@include responsive(medium) {
    .home-page {
        &__top {
            padding: 50px 40px 50px;
        }

        &__meaning {
            margin: 225px auto 80px;
            padding: 0 40px;

            &--content {
                @include flex($gap: 40px);
                padding: 500px 50px 60px;
                min-height: none;
            }

            &--screen {
                top: -200px;

                img {
                    width: 700px;
                }
            }

            h2, p {
                max-width: none;
            }
        }

        &__services {
            padding: 40px 40px 80px;

            h2 {
                max-width: 800px;
            }
        }

        &__steps {
            &--overlay {
                padding: 100px 40px;
            }

            &--cards {
                @include flex($gap: 80px);
            }

            &--up {
                transform: rotate(90deg);
            }

            &--down {
                transform: rotate(90deg) scaleY(-1);
            }
        }

        &__ally {
            padding: 0 40px;
            margin: 80px 0;
            max-width: 950px;

            &--content {
                @include flex($gap: 50px);
                padding: 70px 40px;
            }

            &--right {
                gap: 35px;

                h2 {
                    margin-bottom: 0;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

// Responsive smedium
@include responsive(smedium) {
    .home-page {
        &__top {
            gap: 50px;

            &--title {
               font-size: 50px;
               line-height: 60px;
            }

            > p {
                font-size: 24px;
            }
        }

        &__download-buttons {
            @include flex($gap: 40px);
        }

        &__meaning {
            margin: 150px auto 50px;

            &--content {
                gap: 30px;
                padding: 335px 40px 60px;
            }

            &--screen {
                top: -135px;

                img {
                    width: 475px;
                }
            }

            h2 {
               font-size: 34px;
            }

            p {
                font-size: 22px;
            }
        }

        &__services {
            gap: 80px;

            > h2 {
                font-size: 40px;
                line-height: 50px;
                max-width: 600px;
            }

            &--cards {
                grid-template-columns: 1fr;
                row-gap: 100px;
            }
        }

        &__steps {
            &--overlay {
                gap: 80px; 

                > h2 {
                    font-size: 40px;
                    max-width: 500px;
                }
            }
        }

        &__ally {
            &--content {
                gap: 60px;
                padding: 40px;
            }

            &--right {
                h2 {
                    font-size: 35px;
                    line-height: 40px;

                }
            }
        }
    }
}

// Responsive small
@include responsive(small) {
    .home-page {
        &__top {
            padding: 50px 30px 50px;
            gap: 40px;

            &--title {
               font-size: 30px;
               line-height: 40px;
            }

            > p {
                font-size: 20px;
                line-height: 30px;
                max-width: 400px;
            }
        }

        &__meaning {
            margin: 175px auto 40px;
            padding: 0 30px;

            &--content {
                padding: 265px 30px 40px;
                border-radius: 30px;
                min-height: 450px;
            }

            &--screen {
                display: none;
                
                &-small {
                    display: block;
                    top: -150px;

                    img {
                        width: 325px;
                    }
                }
            }

            h2 {
               font-size: 28px;
               line-height: 38px;
            }

            p {
                font-size: 18px;
            }
        }

        &__services {
            padding: 40px 30px 80px;

            > h2 {
                font-size: 30px;
                line-height: 40px;
            }

            &--cards {
                row-gap: 110px;
            }
        }

        &__steps {
            &--overlay {
                gap: 60px; 
                padding: 80px 30px;

                > h2 {
                    font-size: 30px;
                    line-height: 40px;
                }
            }
        }

        &__ally {
            padding: 0 30px;

            &--content {
                gap: 40px;
            }

            &--video {
                padding: 15px;

                iframe {
                    width: 220px;
                    height: 390px;
                }
            }

            &--right {
                gap: 25px;

                h2 {
                    font-size: 30px;
                    line-height: 35px;
                }
            }

            &--card {
                padding: 22px;
                gap: 20px;

                h3 {
                    font-size: 22px;
                    line-height: 28px;
                }
            }
        }
    }
}